*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

#myProjects, #myContact {
  height: 100vh;
}

.nav-links{
  display: flex;
  list-style: none;
  height: 100%;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  z-index: 20;
}

.nav-links li a{
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bolder;
}

.line{
  width: 30px;
  height: 3px;
  background: #201f25;
  margin: 5px;
}

nav {
  position: relative;
}

.hamburger{
  position: fixed;
  cursor: pointer;
  right: 22px;
  top: 30px;
  transform: translate(-5%, -50%);
  z-index: 20;
}

.nav-links {
  position: fixed;
  background: #5b78c7;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(100px at 90% -20%);
  -webkit-clip-path: circle(100px at 90% -20%);
  transition: all 1s ease-out;
  z-index: 3;

}
.nav-links.open{
  clip-path: circle(100% at 75% 14%);
  -webkit-clip-path: circle(100% at 75% 14%);
}

.parallax-header{
  background: #000;
  background: linear-gradient(to top,#ca5f0aad, #198754b5), 
  url(./assets/images/7.jpg) no-repeat center;
  background-color: #f9f9fa;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.header-content .intro{
  font-size:150px;
  font-family: 'Zen Dots', sans-serif;
  text-shadow: 2px 2px #2125296b;
}

.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  text-shadow: 2px 2px 4px #2125296b;
}

.projectsHeading{
  text-align: center;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
}

.projectsGallery ul{
  margin:0;
  padding:0;
}

.projectsGallery li {
  text-align:center;
  display:inline-block;
  list-style:none;
  position:relative;
  border:solid 12px #fff;
  background:#fff;
  box-shadow:0 0 15px 0px #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  top:50px;
}

.contactContainer{
  margin-top: 9%;
}


.projectsGallery li:hover{
  top:0px;
  opacity:0.5;
}

.projectsGallery li:nth-child(1){
  transform:rotate(10deg);
}

.projectsGallery li:nth-child(2){
  transform:rotate(0deg);
}

.projectsGallery li:nth-child(3){
  transform:rotate(-10deg);
}

li p{
  margin:7px 0 2px 0;
}

.light{
  border-radius:50%;
  left:0;
  right:0;
  width:700px;
  height:150px;
  background:#fff;
  filter:blur(100px);
  opacity:0.3;
}

.bgCover{
  left:0;
  right:0;
  background-color: #554e7b;
  background-size: cover;
  overflow-x: hidden;
}

.first{
  padding-left: 5%;
  padding-right: 5%;
}

.aboutMe{
  width: 50%;
  margin: 0 auto;
}

.fa{
  padding: 8px;
  font-size: 22px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover{
  opacity: 0.7;
  color: white;
}

.fa-facebook{
  background: #3B5998;
  color: white;
}

.fa-linkedin{
  background: #007bb5;
  color: white;
}

.fa-instagram{
  background: radial-gradient(circle at 30% 110%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);    
  color: white;
}

.parallax-footer{
  font-size: 24px;
  background: #000;
  background: linear-gradient(to top,#5a320ca8, #1498fd5c), 
  url(./assets/images/bg5.jpg) no-repeat center;
  background-color: #f9f9fa;
  background-size: cover;
  background-attachment: fixed;
}

.btn{
  background-color: #2c5f9c;
  border-color: #eceef175;
  color: white;
}

.skill-1, .skill-3{
  width: 80%;
}

.skill-2, .skill-4{
  width: 90%;
}

.skill-5, .skill-6{
  width: 75%;
}

.skill-7 {
  width: 60%
}

.upIcon{
  font-size: 50px;
  color: white;
}

.upIcon:hover{
  opacity: 0.5;
}
/* Media queries */

@media only screen and (max-width: 1024px){
  #myContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #myDetails, #myProjects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 50px;
    overflow: hidden;
  }

  .projectContainer{
    position: relative;
    top: -30px; 
  }

  .projectContainer ul{
    flex-direction: row !important;
    padding: 20px;
  }

  .projectsGallery ul{
    display: flex;
    flex-direction: column;
  }
}


@media only screen and (max-width: 360px){
  .projectContainer ul{
    flex-direction: column !important;
  }

  #myContact, #myDetails, #myProjects{
    height: unset;
  }

  #myProjects{
    display: block !important;
    height: auto;
  }

  .myImage{
    display: none;
  }

  .contactHeader{
    margin-top: 50px;
  }

  .intro{
    font-size: 3.6em !important;
  }
  .name{
    font-size: large;
  }

  .nav-links.open{
    height: 100%;
    clip-path: circle(100% at 75% 50%);
    -webkit-clip-path: circle(100% at 70% 50%);
  }

  ul.nav-links{
    padding: 0;
  }

  .nav-links li a{
    font-size: 1.5rem;
  }


  .about, .education, .skills{
    text-align: center !important; 
  }

  .projectsGallery li{
    transform: initial !important;
    width: fit-content;
    margin: 10px;
    box-shadow: 0 0 5px 0px #555
  }

  .projectsGallery li:hover{
    top: 50px;
  }

  h2 {
    font-size: 1.5em;
  }

.about p{
  text-align: justify;
  padding-right: 1rem;
  padding-left: 1rem;
}
}

